* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto",sans-serif;
  min-height: 100vh;
}

body {
  background-color: #f5e653;
}

main {
  display: none;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  width: 100%;
  font-style: italic;
  font-weight: 800;
}

.desktop-msg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop-msg img {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 490px) {
  main {
    display: block;
  }
  .desktop {
    display: none;
  }
  .golden-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .golden-title img {
    width: 80%;
  }
  .btHome {
    padding-right: 10px;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btHome a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    color: #161414;
    padding-left: 20px;
  }
  .btHome .btPlay {
    background-color: #FFD700;
    border-radius: 15%;
    width: 100px;
    height: 40px;
    padding-top: 8px;
  }
  .btHome .btRules {
    background-color: #FFD700;
    border-radius: 15%;
    width: 100px;
    height: 40px;
    padding-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    display: block;
  }
  .desktop {
    display: none;
  }
  .golden-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
  }
  .golden-title img {
    width: 40%;
  }
  .btHome {
    padding-right: 10px;
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btHome a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    color: black;
    padding-left: 17px;
    padding-top: 15px;
  }
  .btHome .btPlay {
    background-color: #FFD700;
    border-radius: 60%;
    width: 120px;
    height: 40px;
    padding-top: 4px;
  }
  .btHome .btRules {
    background-color: #FFD700;
    border-radius: 60%;
    width: 120px;
    height: 40px;
    padding-top: 4px;
    padding-right: 4px;
  }
}
/*# sourceMappingURL=style.css.map */